.sidebar {
    background: black;
	
	
    width: 15%;
    height: 100vh;
    overflow: scroll;
    padding: 40px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 40px;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	
}

  
  
  a{
	  color:rgb(185, 185, 185);
	  text-decoration: none;
	  text-transform: capitalize;
	  text-shadow: none;
	  font-size: 35px;
  }
  

  
  .geographics{
      
      right: 10px;
	  padding: 50px;
	  width: 110%;
	 
  }
	  .geographics img{
		  display: block;
		  margin: auto;
		  right: 5px;
		  z-index: +6;
		  
	  }
	  
  
  .geographics:hover {
	transform: scale(1.2);
	transition: 0.7s;
	

	
	
  }

  .banner {
	width: 100%;
	position: relative;
	align-items: center;
		display: block;
		padding: 10px;
		margin: 10px;
		width: 70%;
			
	
  }

  .text-block{
	
	
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 160px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		color: black;
	
}
	


  .overlay {
	width:300px;
	height:100px;
	position:fixed;
	top:10px;
	left:400px;
	pointer-events:none;
  }
  
  .row {
	width: 100%;
	border-radius: 25px;
	border-bottom: 1px white;
	background-color: rgb(94, 228, 67);
	display: flex;
	position: relative;
	
	flex-wrap: wrap;
	cursor: pointer;
	font-size:40px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .row2 {
	width: 100%;
	border-radius: 25px;
	border-bottom: 1px white;
	background-color: rgba(255, 38, 0, 0.897);
	display: flex;
	position: relative;
	flex-wrap: wrap;
	cursor: pointer;
	font-size:40px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .row3 {
	width: 100%;
	border-radius: 25px;
	border-bottom: 1px white;
	background-color: rgb(7, 144, 207);
	display: flex;
	position: relative;
	flex-wrap: wrap;
	cursor: pointer;
	font-size:40px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .row:hover {
	background-color: white;
	color: greenyellow;
  }
  .row2:hover {
	background-color: white;
	color: rgba(255, 38, 0, 0.897);
  }
  .row3:hover {
	background-color: white;
	color: rgb(7, 144, 207);
  }
  
  .col {
	width: 5%;
	padding: 5%;
  }
  
  .title {
	text-transform: uppercase;
  }
  
 
  
  .content {
	font-size: 30px;
	display: none;
	color: black;
	font-style: italic;
  }
  .content2 {
	font-size: 30px;
	display: none;
	color: black;
	font-style: italic;
  }
  .content3 {
	font-size: 30px;
	display: none;
	color: black;
	font-style: italic;
  }
  .content4 {
	font-size: 30px;
	display: none;
	color: black;
  }
  
  .vid {
  padding: 50px;
  display: none;
  transition: transform .2s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
  z-index: +1;
position: relative;
right: 700px;
}
.buy{
	color:black;
	  text-decoration: none;
	  text-transform: capitalize;
	  text-shadow: none;
	  font-size: 100px;
}
.vid:hover {
  transform: scale(1.5); 
}

  .main {
    width: 85%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 15%;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
  }
  
  .RB {
	  font-size: 90px;
	  color: white;
	
	  background-color: rgb(86, 28, 221);
	  border-top-left-radius: 20%;
	  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	  text-align: center;
	  margin: 10px;
	  width: 150px;
	  padding: 10px;
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .RB a {
	font-size: 70px;
	color: white;
	text-align: center;
	margin: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .RB:hover {

background-color:rgb(126, 87, 216)

  }

  .LB:hover{
	  background-color: rgb(126, 87, 216);
  }
 
  .LB a {
	font-size: 70px;
	color: white;
	text-align: center;
	margin: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .LB {
	font-size: 90px;
	color: white;
	width: 150px;
	background-color: rgb(86, 28, 221);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	margin: 10px;
	position: relative;
	padding: 10px;
	border-top-right-radius: 20%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

  .item {
  
	display:inline-flex;
	flex-wrap: wrap;
	padding: 3px;
	margin: auto;
	position: relative;

	
  }
 
  

  .inner {
    padding: 10%;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .grid-item {
display:list-item;
width: 100%;
margin: 1em;
position: relative;
mix-blend-mode: exclusion;

	
	
 
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	mix-blend-mode: exclusion;
}

.grid-item:hover{
	transform: scale(1.5);
	transition: 0.7s;
}

  .animations{
  mix-blend-mode: exclusion;
  z-index: 5;
  animation: move 20s infinite;
  display:flex;
  width: 50%;
  position: inherit;
 
  }

.life{
	bottom: 10px;
	font-size: 90px;
	right: 10px;
	color: gray;
}
  

  @keyframes move {
	0%{
		transform:translate(0);
		opacity:1;
		
	}
	
	50%{
		transform:translate(1100px);
		opacity:1;
		
	}
	100%{
		opacity:1;
		
	}
}
  

